:root {
	--base-hue: 220;

	--cl-preview-bg-light: hsl(var(--base-hue), 30%, 60%);
	--cl-preview-bg-dark: hsl(var(--base-hue), 30%, 40%);
	--cl-light-emphasis: hsl(var(--base-hue), 25%, 95%);

	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: "Open Sans";
	src: url(../assets/fonts/open-sans/OpenSans-VariableFont.ttf) format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url(../assets/fonts/open-sans/OpenSans-Italic-VariableFont.ttf) format("truetype");
	font-style: italic;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
}
