.add-fields,
.toggle-bonus-fields {
	border: solid var(--foreground-color) 1px;
	border-radius: 5px;
	padding: 1rem;

	width: 100%;

	font-weight: bold;
	text-align: left;
	color: var(--emphasis-bold-color);

	transition: background-color 400ms, border-color 400ms;
}

.add-fields:hover,
.toggle-bonus-fields:hover {
	background-color: var(--emphasis-color);
	border-color: var(--emphasis-color);
}
