#editor > * {
	--editor-child-padding: 4rem;

	padding: var(--editor-child-padding);
}

form {
	min-height: 100vh;
}

#nav-buttons {
	position: sticky;
	bottom: 0;

	display: flex;
	justify-content: space-between;

	padding-top: 2rem;
	border-top: solid 1px hsl(0, 0%, 90%);

	background-color: hsl(0, 0%, 100%);
}

#previous-section,
#next-section {
	font-size: 1rem;
	font-weight: bold;
}

#previous-section {
	text-align: left;
}

#next-section {
	text-align: right;
}

.button-subheading {
	display: block;
	font-weight: normal;
	color: hsl(0, 0%, 50%);
}
