.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

h2 {
	margin: 0.5rem 0;

	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: var(--cl-text);
}

button {
	display: flex;
	justify-content: center;
	align-items: center;

	aspect-ratio: 1/1;
}

img {
	transition: transform 200ms linear;
}
