label {
	display: grid;

	font-size: 0.8rem;
	color: hsl(0, 0%, 50%);

	margin: 0.5em 0;
}

input,
textarea {
	margin: 0.5rem 0;
	border: none;
	border-radius: 2px;
	padding: 0.5rem;

	font-size: 1rem;

	background-color: var(--cl-light-emphasis);
}

textarea {
	padding: 1rem;
	height: 12rem;
	line-height: 1.5rem;
}
