:root {
	--cl-text: hsl(0, 0%, 20%);
}

fieldset {
	border: none;
	border-top: solid var(--foreground-color) 1px;
	padding: 0.5rem 0;
}

.section-fields {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem 2rem;
	margin: 1rem 0;

	transition: max-height 400ms, margin 400ms;
	overflow: hidden;

	/* border: solid 1px hsl(0, 0%, 90%);
	border-radius: 5px;
	padding: 1rem; */
}

.accordion-hidden {
	margin: 0;
	max-height: 0;
}

.accordion-active {
	max-height: 100vmax;
}

label:has(> textarea) {
	grid-column: 1 / -1 !important;
}
