:root {
	--base-hue: 220;

	--cl-preview-bg-light: hsl(var(--base-hue), 30%, 60%);
	--cl-preview-bg-dark: hsl(var(--base-hue), 30%, 40%);
	--cl-light-emphasis: hsl(var(--base-hue), 25%, 95%);
}

#root {
	width: 100%;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#preview-pane {
	position: fixed;
	right: 0;
	height: 100vh;
	width: 50vw;

	background: linear-gradient(205deg, var(--cl-preview-bg-light), var(--cl-preview-bg-dark));
	box-shadow: inset 0.5rem 0 1rem -0.5rem hsl(0, 0%, 0%, 0.6);
}

h2 {
	margin: 0;
	margin-bottom: 1rem;
	font-size: 1.2rem;
}

fieldset {
	margin: 1rem;
	border: solid hsl(0, 0%, 90%) 1px;
	border-radius: 4px;
	padding: 1rem;
}

label {
	display: grid;

	font-size: 0.8rem;
	color: hsl(0, 0%, 50%);

	margin: 0.5em auto;
}

input {
	margin: 0.5rem 0;
	border: none;
	border-radius: 2px;
	padding: 0.5rem;

	font-size: 1rem;

	background-color: var(--cl-light-emphasis);
}
