#root {
	/* max-width: 1280px; */
	/* margin: 0 auto; */
	/* padding: 2rem; */
	width: 100%;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#preview-pane {
	height: 100vh;
	width: 50vw;

	background-color: lightblue;
}

h2 {
	margin: 0;
	margin-bottom: 1rem;
	font-size: 1.2rem;
}

fieldset {
	margin: 1rem;
	border: solid hsl(0, 0%, 90%) 1px;
	border-radius: 4px;
	padding: 1rem;
}

label {
	display: grid;

	font-size: 0.8rem;
	color: hsl(0, 0%, 50%);

	margin: 0.5em auto;
}

input {
	margin: 0.5rem 0;
	border: none;
	border-radius: 2px;
	padding: 0.5rem;

	font-size: 1rem;

	background-color: hsl(0, 0%, 95%);
}
